{{define "head"}}
  <title>{{ .Title}}</title>
{{end}}

{{define "body"}}
<form id="compose-form" name="compose-form">
    <header>COMPOSE</header>
    <input type="text" name="composerIds" placeholder="COMPOSER IDs" required />
    <input type="text" name="hfa" placeholder="HFA SONG CODE" />
    <input type="text" name="iswc" placeholder="ISWC CODE" />
    <input type="text" name="lang" placeholder="LANGUAGE" />
    <input type="text" name="name" placeholder="TITLE" required />
    <input type="text" name="publisherId" placeholder="PUBLISHER ID" />
    <input type="text" name="roles" placeholder="ROLES" />
    <input type="text" name="sameAs" placeholder="URL" />
    <input type="text" name="splits" placeholder="SPLITS" />
    <input type="text" name="uri" placeholder="THRESHOLD SIGNATURE" />
    <input type="submit" value="COMPOSE" />
</form>
<form id="sign-form" name="sign-form">
    <header>SIGN COMPOSITION</header>
    <input type="text" name="type" value="composition" hidden />
    <input type="text" name="txId" placeholder="COMPOSITION ID" required />
    <input type="submit" value="SIGN" />
</form>
<form id="search-form" name="search-form">
    <header>SEARCH COMPOSITIONS</header>
    <input type="text" name="type" value="composition" hidden />
    <input type="text" name="name" placeholder="TITLE">
    <input type="text" id="search-partyId" name="partyId" placeholder="COMPOSER ID" required>
    <button type="button" class="btn" data-clipboard-target="#search-partyId">copy</button>
    <input type="submit" value="SEARCH" />
</form>
<form id="prove-form" name="prove-form">
    <header>PROVE COMPOSER</header>
    <input type="text" name="type" value="composition" hidden />
    <input type="text" name="challenge" placeholder="CHALLENGE" required />
    <input type="text" id="prove-modelId" name="modelId" placeholder="COMPOSITION ID" required />
    <button type="button" class="btn" data-clipboard-target="#prove-modelId">copy</button>
    <input type="text" id="prove-partyId" name="partyId" placeholder="COMPOSER ID" required />
    <button type="button" class="btn" data-clipboard-target="#prove-partyId">copy</button>
    <input type="submit" value="PROVE" />
</form>
<form id="verify-form" name="verify-form">
    <header>VERIFY COMPOSER</header>
    <input type="text" name="type" value="composition" hidden />
    <input type="text" name="challenge" placeholder="CHALLENGE" required />
    <input type="text" id="verify-modelId" name="modelId" placeholder="COMPOSITION ID" required />
    <button type="button" class="btn" data-clipboard-target="#verify-modelId">copy</button>
    <input type="text" id="verify-partyId" name="partyId" placeholder="COMPOSER ID" required />
    <button type="button" class="btn" data-clipboard-target="#verify-partyId">copy</button>
    <input type="text" name="signature" placeholder="SIGNATURE" required />
    <input type="submit" value="VERIFY" />
</form>
<br><br>
<pre id="message" style="color:#97cc5f; font-size: 1.2em; margin-top: -200px"></pre>
<script type="text/javascript">

function httpPostAsync(addr, data, callback) {
    var xhr = new XMLHttpRequest ();
    xhr.onreadystatechange = function() {
        if (xhr.readyState == 4) {
            if (xhr.status == 200) {
                callback(xhr.responseText);
            } else {
                alert(xhr.responseText);
            };
        };
    };
    xhr.open("POST", addr, true); 
    xhr.send(data);
};

var callback = function(responseText) {
    var json = JSON.parse(responseText);
    var str = JSON.stringify(json,null,2);
    $("#message").text(str);
};

var clipboard = new Clipboard('.btn');

clipboard.on('success', function(e){
    console.log(e);
});

clipboard.on('error', function(e){
    console.log(e);
});

window.onload = function() {

    var composeForm = $("#compose-form");
    composeForm.submit(function(event) {
        event.preventDefault();
        var formData = composeForm.serialize();
        httpPostAsync("http://localhost:8888/compose_handler", formData, callback);
    });

    var searchForm = $("#search-form");
    searchForm.submit(function(event){
        event.preventDefault();
        var formData = searchForm.serialize();
        httpPostAsync("http://localhost:8888/search_handler", formData, callback);
    });

    var signForm = $("#sign-form");
    signForm.submit(function(event){
        event.preventDefault();
        var formData = signForm.serialize();
         httpPostAsync("http://localhost:8888/sign_handler", formData, callback);
    });

    var proveForm = $("#prove-form");
    proveForm.submit(function(event){
        event.preventDefault();
        var formData = proveForm.serialize();
        httpPostAsync("http://localhost:8888/prove_handler", formData, callback);
    });

    var verifyForm = $("#verify-form");
    verifyForm.submit(function(event){
        event.preventDefault();
        var formData = verifyForm.serialize();
        httpPostAsync("http://localhost:8888/verify_handler", formData, callback);
    });
}
</script>
{{end}}