{{define "head"}}
  <title>{{ .Title}}</title>
{{end}}

{{define "body"}}
<form id="compose-form" name="compose-form">
    <header>COMPOSITION</header>
    <input type="text" id="composerId" name="composerId" placeholder="COMPOSER ID" required />
    <button type="button" class="btn" data-clipboard-target="#composerId">copy</button>
    <input type="text" name="inLanguage" placeholder="LANGUAGE" />
    <input type="text" name="iswcCode" placeholder="ISWC CODE" />
    <input type="text" name="name" placeholder="TITLE" required />
    <input type="text" name="url" placeholder="URL" />
    <input type="submit" value="COMPOSE" />
</form>
<form id="record-form" name="record-form" enctype="multipart/form-data">
    <header>RECORDING</header>
    <input type="text" id="artistId" name="artistId" placeholder="ARTIST ID" required />
    <button type="button" class="btn" data-clipboard-target="#artistId">copy</button>
    <input type="text" id="compositionId" name="compositionId" placeholder="COMPOSITION ID" required />
    <button type="button" class="btn" data-clipboard-target="#compositionId">copy</button>
    <input type="text" name="duration" placeholder="DURATION" /> 
    <input type="text" name="isrcCode" placeholder="ISRC CODE" />
    <input type="text" id="licenseId" name="licenseId" placeholder="COMPOSITION LICENSE ID" />
    <button type="button" class="btn" data-clipboard-target="#licenseId">copy</button>
    <input type="text" name="url" placeholder="URL" />
    <input accept="audio" type="file" name="recording" required />
    <input type="submit" value="RECORD" />
</form>
<pre id="message" style="color:#97cc5f; font-size: 1.2em; margin-top: -200px"></pre>
<script type="text/javascript">

function httpPostAsync(addr, data, callback) {
    var xhr = new XMLHttpRequest ();
    xhr.onreadystatechange = function() {
        if (xhr.readyState == 4) {
            if (xhr.status == 200) {
                callback(xhr.responseText);
            } else {
                alert(xhr.responseText);
            };
        };
    };
    xhr.open("POST", addr, true); 
    xhr.send(data);
};

var callback = function(responseText) {
    var json = JSON.parse(responseText);
    var str = JSON.stringify(json,null,2);
    $("#message").text(str);
};

var clipboard = new Clipboard(".btn");

clipboard.on("success", function(e){
    console.log(e);
});

clipboard.on("error", function(e){
    console.log(e);
});

window.onload = function() {

    $("#compose-form").submit(function(event) {
        event.preventDefault();
        var formData = new FormData(event.target);
        httpPostAsync("http://localhost:8888/composition", formData, callback);
    });

    $("#record-form").submit(function(event) {
        event.preventDefault();
        var formData = new FormData(event.target);
        httpPostAsync("http://localhost:8888/recording", formData, callback);
    });
}
</script>
{{end}}