{{define "head"}}
  <title>{{ .Title}}</title>
{{end}}

{{define "body"}}
<br><br>
<form id="license-form" name="license-form">
    <header>LICENSE</header>
    <input type="text" id="licenseHolderIds" name="licenseHolderIds" placeholder="LICENSE-HOLDER IDs" required />
    <button type="button" class="btn" data-clipboard-target="#licenseHolderIds">copy</button>
    <input type="text" id="modelIds" name="modelIds" placeholder="COMPOSITION/RECORDING IDs" required /> 
    <button type="button" class="btn" data-clipboard-target="#modelIds">copy</button>
    <label>VALID FROM</label>
    <input type="date" name="validFrom" style="border-bottom: solid 1px #025768;" required /><br><br>
    <label>VALID TO</label>
    <input type="date" name="validTo" style="border-bottom: solid 1px #025768;" required /><br><br>
    <input type="submit" value="LICENSE" />
</form>
<br><br>
<pre id="message" style="color:#97cc5f; font-size: 1.2em; margin-top: -200px"></pre>
<script type="text/javascript">

function httpPostAsync(addr, data, callback) {
    var xhr = new XMLHttpRequest ();
    xhr.onreadystatechange = function() {
        if (xhr.readyState == 4) {
            if (xhr.status == 200) {
                callback(xhr.responseText);
            } else {
                alert(xhr.responseText);
            };
        };
    };
    xhr.open("POST", addr, true); 
    xhr.send(data);
};

var callback = function(responseText) {
    if (responseText != null) {
        var json = JSON.parse(responseText);
        var str = JSON.stringify(json,null,2);
        $("#message").text(str);
    };
};

var clipboard = new Clipboard('.btn');

clipboard.on('success', function(e){
    console.log(e);
});

clipboard.on('error', function(e){
    console.log(e);
});

window.onload = function() {

    var licenseForm = $("#license-form");
    licenseForm.submit(function(event) {
        event.preventDefault();
        var formData = licenseForm.serialize();
        httpPostAsync("http://localhost:8888/license_handler", formData, callback);
    });
}
</script>
{{end}}