{{define "head"}}
  <title>{{ .Title}}</title>
{{end}}

{{define "body"}}
<br><br>
<form id="license-form" name="license-form">
    <header>LICENSE</header>
    <input type="text" id="licenseHolderIds" name="licenseHolderIds" placeholder="LICENSE-HOLDER IDs" required />
    <button type="button" class="btn" data-clipboard-target="#licenseHolderIds">copy</button>
    <input type="text" id="licenseForIds" name="licenseForIds" placeholder="COMPOSITION/RECORDING IDs" required /> 
    <button type="button" class="btn" data-clipboard-target="#licenseForIds">copy</button>
    <label>VALID FROM</label>
    <input type="date" name="validFrom" style="border-bottom: solid 1px #025768;" required /><br><br>
    <label>VALID TO</label>
    <input type="date" name="validTo" style="border-bottom: solid 1px #025768;" required /><br><br>
    <input type="submit" value="LICENSE" />
</form>
<form id="right-form" name="right-form">
    <header>RIGHT</header>
    <input type="number" name="percentShares" placeholder="PERCENT SHARES" min=1 max=100 required />
    <button type="button" class="btn" data-clipboard-target="#percentShares">copy</button>
    <input type="text" id="prevRightId" name="prevRightId" placeholder="PREVIOUS RIGHT ID" required />
    <button type="button" class="btn" data-clipboard-target="#prevRightId">copy</button>
    <input type="text" id="rightHolderId" name="rightHolderId" placeholder="RIGHT-HOLDER ID" required />
    <button type="button" class="btn" data-clipboard-target="#rightHolderId">copy</button>
    <input type="text" id="rightToId" name="rightToId" placeholder="COMPOSITION/RECORDING ID" required /> 
    <button type="button" class="btn" data-clipboard-target="#rightToId">copy</button>
    <input type="submit" value="RIGHT" />
</form>
<br><br>
<pre id="message" style="color:#97cc5f; font-size: 1.2em; margin-top: -200px"></pre>
<script type="text/javascript">

function httpPostAsync(addr, data, callback) {
    var xhr = new XMLHttpRequest ();
    xhr.onreadystatechange = function() {
        if (xhr.readyState == 4) {
            if (xhr.status == 200) {
                callback(xhr.responseText);
            } else {
                alert(xhr.responseText);
            };
        };
    };
    xhr.open("POST", addr, true); 
    xhr.send(data);
};

var callback = function(responseText) {
    if (responseText != null) {
        var json = JSON.parse(responseText);
        var str = JSON.stringify(json,null,2);
        $("#message").text(str);
    };
};

var clipboard = new Clipboard(".btn");

clipboard.on("success", function(e){
    console.log(e);
});

clipboard.on("error", function(e){
    console.log(e);
});

window.onload = function() {

    var licenseForm = $("#license-form");
    licenseForm.submit(function(event) {
        event.preventDefault();
        var formData = new FormData(event.target);
        httpPostAsync("http://localhost:8888/license", formData, callback);
    });

    var rightForm = $("#right-form");
    rightForm.submit(function(event) {
        event.preventDefault();
        var formData = new FormData(event.target);
        httpPostAsync("http://localhost:8888/right", formData, callback);
    });
}
</script>
{{end}}