{{define "head"}}
  <title>{{ .Title}}</title>
{{end}}

{{define "body"}}
<form id="record-form" name="record-form" enctype="multipart/form-data">
    <header>RECORD</header>
    <input type="text" name="artistIds" placeholder="ARTIST IDs" required />
    <input type="text" name="compositionId" placeholder="COMPOSITION ID" required />
    <input type="text" name="duration" placeholder="DURATION" /> 
    <input type="text" name="isrc" placeholder="ISRC CODE" />
    <input type="text" name="mechanicalLicenseIds" placeholder="MECHANICAL LICENSE IDs" />
    <input type="text" name="roles" placeholder="ROLES" />
    <input type="text" name="sameAs" placeholder="URL" />
    <input type="text" name="splits" placeholder="SPLITS" />
    <input type="text" name="uri" placeholder="THRESHOLD SIGNATURE" />
    <input accept="audio" type="file" name="recording" required />
    <input type="submit" value="RECORD" />
</form>
<form id="prove-form" name="prove-form" style="margin-top: -240px">
    <header>PROVE ARTIST</header>
    <input type="text" name="type" value="recording" hidden />
    <input type="text" name="artistId" placeholder="ARTIST ID" required />
    <input type="text" name="challenge" placeholder="CHALLENGE" required /> 
    <input type="text" name="recordingId" placeholder="RECORDING ID" required />
    <input type="submit" value="PROVE" />
</form>
<form id="verify-form" name="verify-form" style="margin-top: -240px">
    <header>VERIFY ARTIST</header>
    <input type="text" name="type" value="recording" hidden />
    <input type="text" name="artistId" placeholder="ARTIST ID" required />
    <input type="text" name="challenge" placeholder="CHALLENGE" required />
    <input type="text" name="recordingId" placeholder="RECORDING ID" required />
    <input type="text" name="signature" placeholder="SIGNATURE" required />
    <input type="submit" value="VERIFY" />
</form>
<br><br>
<pre id="message" style="color:#97cc5f; font-size: 1.2em; margin-top: -200px"></pre>
<script type="text/javascript">

function httpPostAsync(addr, data, callback) {
    var xhr = new XMLHttpRequest ();
    xhr.onreadystatechange = function() {
        if (xhr.readyState == 4) {
            if (xhr.status == 200) {
                callback(xhr.responseText);
            } else {
                alert(xhr.responseText);
            };
        };
    };
    xhr.open("POST", addr, true); 
    xhr.send(data);
};

var callback = function(responseText) {
    if (responseText != null) {
        var json = JSON.parse(responseText);
        var str = JSON.stringify(json,null,2);
        $("#message").text(str);
    };
};

window.onload = function() {

    var recordForm = $("#record-form");
    recordForm.submit(function(event) {
        event.preventDefault();
        var formData = new FormData(event.target);
        httpPostAsync("http://localhost:8888/record_handler", formData, callback);
    });

    var proveForm = $("#prove-form");
    proveForm.submit(function(event){
        event.preventDefault();
        var formData = proveForm.serialize();
        httpPostAsync("http://localhost:8888/prove_handler", formData, callback);
    });

    var verifyForm = $("#verify-form");
    verifyForm.submit(function(event){
        event.preventDefault();
        var formData = verifyForm.serialize();
        httpPostAsync("http://localhost:8888/verify_handler", formData, callback);
    });
}
</script>
{{end}}