{{define "head"}}
  <title>{{ .Title}}</title>
{{end}}

{{define "body"}}
<form id="search-form" name="search-form">
    <header>SEARCH</header>
    <select form="search-form" id="type" name="type">
        <option value="" selected disabled>--TYPE--</option>
        <option value="composition">COMPOSITION</option>
        <option value="license">LICENSE</option>
        <option value="recording">RECORDING</option> 
    </select><br><br>
    <input type="text" id="name" name="name" placeholder="TITLE">
    <input type="text" id="partyId" name="partyId" required>
    <button type="button" class="btn" data-clipboard-target="#partyId">copy</button>
    <input type="submit" value="SEARCH" />
</form>
<br><br>
<pre id="message" style="color:#97cc5f; font-size: 1.2em;"></pre>
<script type="text/javascript">

function httpPostAsync(addr, data, callback) {
    var xhr = new XMLHttpRequest ();
    xhr.onreadystatechange = function() {
        if (xhr.readyState == 4) {
            if (xhr.status == 200) {
                callback(xhr.responseText);
            } else {
                alert(xhr.responseText);
            };
        };
    };
    xhr.open("POST", addr, true); 
    xhr.send(data);
};

var callback = function(responseText) {
    if (responseText != null) {
        var json = JSON.parse(responseText);
        var str = JSON.stringify(json,null,2);
        $("#message").text(str);
    };
};

var clipboard = new Clipboard('.btn');

clipboard.on('success', function(e){
    console.log(e);
});

clipboard.on('error', function(e){
    console.log(e);
});

window.onload = function() {

    var type = $("#type");
    type.change(function() {
        if (type.val() == "composition") {
            $("#name").show();
            $("#partyId").attr("placeholder", "COMPOSER ID");
        } else if (type.val() == "license") {
            $("#name").hide();
            $("#partyId").attr("placeholder", "LICENSE-HOLDER ID");
        } else if (type.val() == "recording") {
            $("#name").show();
            $("#partyId").attr("placeholder", "ARTIST ID");
        } else {
            //..
        }
    });

    var searchForm = $("#search-form");
    searchForm.submit(function(event){
        event.preventDefault();
        var formData = searchForm.serialize();
        httpPostAsync("http://localhost:8888/search_handler", formData, callback);
    });
}
</script>
{{end}}